{% extends "base.html" %}

{% block content %}
    <div class="post">
        <h1 class="title">Welcome to eMelody!</h1>
        <div class="entry-text">
            <p>At eMelody, we are dedicated to personalizing your music experience. We apply a unique blend of machine learning algorithms and song classification and filtering to provide you with the best recommendations to make exploring music as enjoyable as possible. Whether you're a casual listener or a music enthusiast, we're here for all your music needs. To get started, create an account, make a playlist, and we will do the rest. Enjoy.</p>
        </div>
    </div>
{% endblock %}