{% extends "base.html" %}

{% block content %}
    <h1><p align="center">{{ username }}'s Profile Page</p></h1>

    <b>Create Playlist:</b>
    <p>To create a playlist, simply search for a song or artist, choose a song, enter a title for your playlist, and we will do the rest.</p>
    <b>Filter Songs:</b>
    {% include 'userpages/search_form_songs.html' %}
    <b>Filter Artists:</b>
    {% include 'userpages/search_form_artists.html' %}
    {% if queried %}
        <table border="1" cellpadding="5">
            <tr>
                <th>Title</th>
                <th>Artist</th>
            </tr>
            {% for song in songs %}
            <tr>
                <td><a href="/create_playlist/{{ song.id }}/">{{ song.title }}</a></td>
                <td>{{ song.artist }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}

    <br>
    <b>Select Playlist:</b><br><br>
    {% if not playlists %}
        <p>You haven't yet made a playlist. Please create one.</p>
    {% else %}
        {% for playlist in playlists %}
            <a href="/listen/{{ playlist.id }}/">{{ playlist.title }}</a>, based on {{ playlist.song.title }} by {{ playlist.song.artist.name }}<br>
        {% endfor %}
    {% endif %}
{% endblock %}